{% extends '::layout.html.twig' %}

{% block body -%}
    <h1>Message</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Dateshalom</th>
                <td>{{ entity.dateShalom|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datetddv</th>
                <td>{{ entity.dateTDDV|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ entity.titre }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('message') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('message_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('message_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
